body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid-layout {
  display: grid;
}

/* Nav header */
.navbar {
  display: flex;
  margin-bottom: 0 !important;
}

nav {
  background-color: #000000;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #c3073f
}

a.nav-link {
  line-height: 3.2;
  padding-right: 8px;
}

.nav-bar-items {
  display:flex;
}

.nav-bar-right {
  margin-left:auto;
}

img.logo-img {
  width: 200px;
}

.nav-link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-bar-items,
  .navbar {
    flex-direction: column;
  }
  .nav-bar-items {
    display: none;
  }
  .nav-bar-right {
    margin-left: 0;
  }
  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .navbar-toggleShow {
    display: flex;
  }
}


.fa, .fas {
  color: #fff !important;
}

/* Sign Up */
.sign-up-form, .login-form {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

#sign-up-heading, #login-heading, .sign-up-oauth {
  margin: 3%
}



/* Homepage */
.carousel-img {
  width: 100%
}

/* View All Page - Product filter*/
.product-filter {
  display: flex;
  background-color:#950740;
  color: #fff;
}

.product-filter h1 {
  flex-grow: 1;
  margin-left: 2%;
  font-size: 20px;
  margin-top: 3%;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  padding-top: 1%;
  margin-right: 3%;
}

/* label#filter-by-label {
  padding-bottom: 5%;
} */

select#custom-select, .search-bar input[type="text"] {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select#custom-select {
  -webkit-appearance: button;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  margin-bottom: 10%;
  padding: 5px 10px;
  width: 150px;
  height: 35.5px;
}

.search-bar input[type="text"] {
  background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  width: 180px;
  height: 30px;
  margin-right: 20px;
}

label#search-label, label#filter-by-label {
  padding-bottom: 2%;
}


/* View All Page - Grid*/
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
}

.product-card {
  flex: 1 25%;
}

.product-image img {
  width: 380px;
  height: 320px;
  overflow: hidden;
}

.product-info {
  margin-top: auto;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 44%;
  }
  .product-image {
    min-height: 150px;
  }
}

/* Product Page */

#celebrity-single-view-container {
  text-align: center;
}

img.celebrity-profile-img {
  width: 40%;
  border: 1px solid #000000;
}

/* User Page */

.user-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3%;
}

.user-welcome-heading {
  color:#c3073f
}

h4#user-page-heading {
  color: #950740;
  font-weight: bold;
  padding-top: 2.5%;
}

ol.user-page-cart-items li {
  padding-top: 2%;
}

#update-user-form {
  display: flex;
  flex-direction: column;
}

.product-details-single * {
  padding-bottom: 5px;
}

h2.product-header-single {
  color: #c3073f;
}

.product-actions-single * {
  margin: 1%;
}

.product-reviews-container {
  margin: 2%;
}

.product-reviews-container {
  border-top: 1px solid;
}

.reviews * {
  padding: 4px;
}


/* cart */
.cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 3%;
}

.cart img {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  float: right;
  margin-left: -100px;
  margin-right: 65%;
}

h2.cart-heading {
  margin-bottom: 3%;
}

.checkout-button {
  margin-bottom: 5%;
}

.checkout-message {
  font-size: 20px;
}

#empty-cart-message {
  text-align: center;
  margin: 5%;
}

.checkout-not-logged-in {
  text-align: center;
  margin: 3%;
}

#order-confirm {
  text-align: center;
  margin: 3%;
}
