body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid-layout {
  display: grid;
}

/* Nav header */
.navbar {
  display: flex;
  margin-bottom: 0 !important;
}

nav {
  background-color: #000000;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #c3073f
}

a.nav-link {
  line-height: 3.2;
}

.nav-bar-items {
  display:flex;
}

.nav-bar-right {
  margin-left:auto;
  padding-right: 3.5%;
}

img.logo-img {
  width: 200px;
}


/* Homepage */
.carousel-img {
  width: 100%
}

/* View All Page - Product filter*/
.product-filter {
  display: flex;
  background-color:#950740;
  color: #fff;
}

.product-filter h1 {
  flex-grow: 1;
  margin-left: 2%;
  font-size: 20px;
  margin-top: 3%;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  padding-top: 1%;
  margin-right: 3%;
}

/* label#filter-by-label {
  padding-bottom: 5%;
} */

select#custom-select, .search-bar input[type="text"] {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select#custom-select {
  -webkit-appearance: button;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  margin-bottom: 10%;
  padding: 5px 10px;
  width: 150px;
  height: 35.5px;
}

.search-bar input[type="text"] {
  background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  width: 180px;
  height: 30px;
  margin-right: 20px;
}

label#search-label, label#filter-by-label {
  padding-bottom: 2%;
}


/* View All Page - Grid*/
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
}

.product-card {
  flex: 1 16%;
}

.product-image {
  min-height: 260px;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 32%;
  }
  .product-image {
    min-height: 150px;
  }
}

/* Product Page */

#celebrity-single-view-container {
  /* display: flex; */
  /* flex-grow: 1; */
  text-align: center;
}

img.celebrity-profile-img {
  width: 40%;
  border: 1px solid #000000;
}

/* User Page */

.user-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3%;
}

.user-welcome-heading {
  color:#c3073f
}

h4#user-page-heading {
  color: #950740;
  font-weight: bold;
  padding-top: 2.5%;
}

ol.user-page-cart-items li {
  padding-top: 2%;
}

#update-user-form {
  display: flex;
  flex-direction: column;
}
